<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To be allocated groups</title>
    <link rel="stylesheet" href="/css/faculty_to_be_allocated.css">
</head>
<body>

    <header>
        <div class="logo-container">
          <img src="/images/IIITP_Logo.jpeg" alt="IIITP Logo" class="logo-img">
          <h1>Student Project Management</h1>
        </div>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/faculty/login">Logout</a>
        </nav>
      </header>

<div class="navbar">
        <a href="/faculty/dashboard/existing"><div class="navbar_content">Existing Group</div></a>
        <a href="/faculty/dashboard/unallocated"><div class="navbar_content">To Be Allocated Group</div></a>
    </div>

<div class="box-wrapper">
    <h2>To be allocated groups</h2>
    <% 
    let b5 = "5th Sem", b6 = "6th Sem", b7 = "7th Sem", b8 = "8th Sem", m3 = "Mtech 3rd sem";
    %>
    
    <div class="container">
        <div class="groups">
            <% data2.forEach((group) => { %>
                <div class="group-column">
                    <div class="card">
                        <h3>Group <%= group.groupNo %></h3>
                        <h4><%= group.projectTitle %></h4>
                        <% if(group.sem == "B5") { %>
                            <h4>5th Sem</h4>
                        <% } else if(group.sem == "B6") { %>
                            <h4>6th Sem</h4>
                        <% } else if(group.sem == "B7") { %>
                            <h4>7th Sem</h4>
                        <% } else if(group.sem == "B8") { %>
                            <h4>8th Sem</h4>
                        <% } else if(group.sem == "M3") { %>
                            <h4>Mtech 3rd Sem</h4>
                        <% } %>    
                        <ul class="list">
                            <% group.studentName.forEach((student) => { %>
                                <li><%= student %></li>
                            <% }) %>
                        </ul>
                        <div class="button-group">
                            <button>Choose</button>
                            <button>Pass</button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>

</body>
</html>

